@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 194 53% 23%;
    --card: 210 40% 98%;
    --card-foreground: 194 53% 23%;
    --popover: 210 40% 98%;
    --popover-foreground: 194 53% 23%;
    --primary: 194 53% 23%; /* #1c4b59 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 194 53% 23%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 28 78% 64%; /* #E89D5E */
    --accent-foreground: 194 53% 23%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 194 53% 23%;
    --radius: 1rem;
    --success: 157 41% 53%; /* #58B694 */
  }
  .dark {
    --background: 200 29% 10%;
    --foreground: 210 40% 98%;
    --card: 201 27% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 201 27% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 194 53% 43%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 28 78% 64%;
    --accent-foreground: 200 29% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 201 27% 18%;
    --input: 201 27% 18%;
    --ring: 194 53% 43%;
    --success: 157 41% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
